﻿@using DP_TIMESHEET_MIS.ViewModels.Administration;

@model EditProjectAssignmentViewModel;

@{
    ViewData["Title"] = "TIMESHEET MIS | PROJECT";
}

<section role="main" class="content-body" style="height: 430px">
    <header class="page-header">
        <h2>Project</h2>

        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="index.html">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span class="custom-input-style">Project</span></li>
                <li><span class="custom-input-style">Edit Project Assignment</span></li>
            </ol>

            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>

    <div class="row">
        <form asp-action="EditProjectAssignment" class="form-horizontal" method="post">

            <input asp-for="ProjectAssignmentId" type="hidden" id="ProjectId" value="@Model.ProjectAssignmentId">

            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#" class="fa fa-caret-down"></a>
                        <a href="#" class="fa fa-times"></a>
                    </div>

                    <h2 class="panel-title custom-input-style">Edit Project Assignment</h2>
                    <p class="panel-subtitle custom-input-style">
                        Please fill the required details to update project assignment
                    </p>
                </header>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-3 control-label custom-input-style">Unit/Department</label>
                            <div class="col-sm-4 custom-input-style">
                                <select asp-for="Department" class="form-control custom-input-style" asp-items="ViewBag.DepartmentTypeId">
                                    <option value="">Select</option>
                                </select>
                                <span asp-validation-for="Department" class="text-danger custom-input-style"></span>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-3 control-label custom-input-style">Project</label>
                            <div class="col-sm-4 custom-input-style">
                                <select asp-for="Project" class="form-control custom-input-style" asp-items="ViewBag.ProjectTypeId">
                                    <option value="">Select</option>
                                </select>
                                <span asp-validation-for="Project" class="text-danger custom-input-style"></span>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-3 control-label custom-input-style">Consultant</label>
                            <div class="col-sm-4 custom-input-style">
                                <select asp-for="Consultant" class="form-control custom-input-style" asp-items="ViewBag.ConsultantTypeId">
                                    <option value="">Select</option>
                                </select>
                                <span asp-validation-for="Consultant" class="text-danger custom-input-style"></span>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-3 control-label custom-input-style">Role</label>
                            <div class="col-sm-4 custom-input-style">
                                <select asp-for="Role" class="form-control custom-input-style" asp-items="ViewBag.RoleTypeId">
                                    <option value="">Select</option>
                                </select>
                                <span asp-validation-for="Role" class="text-danger custom-input-style"></span>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-3 control-label custom-input-style">Contract Date</label>
                            <div class="col-sm-2 custom-input-style">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                    <input asp-for="StartDate" data-plugin-datepicker="" class="form-control custom-input-style" placeholder="Start Date">
                                </div>
                                <span asp-validation-for="StartDate" class="text-danger custom-input-style"></span>
                            </div>
                            <div class="col-sm-2 custom-input-style">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                    <input asp-for="StopDate" data-plugin-datepicker="" class="form-control custom-input-style" placeholder="Stop Date">
                                </div>
                                <span asp-validation-for="StopDate" class="text-danger custom-input-style"></span>
                            </div>
                        </div>
                    </div>


                </div>
                <footer class="panel-footer">
                    <button type="submit" class="btn btn-primary custom-input-style"> Submit</button>
                    <a class="btn btn-default custom-input-style"> Cancel</a>

                </footer>
            </section>
        </form>
    </div>
</section>

@section Scripts
    {
    <script type="text/javascript">

        $(document).ready(function () {

            $('#Consultant').multiselect({
                buttonWidth: '350px',
                nonSelectedText: 'Select Consultant',
                enableCaseInsensitiveFiltering: true,
                dropRight: true
            });

            $('#StartDate').datepicker(
                'setEndDate', new Date()
            );

            $('#StopDate').datepicker(
                'setStartDate', new Date()
            );

            //GetProjects();
        });

        $(document).load(function () {
            //GetProjects();
        });

        $('#Department').change(function () {

            GetProjects();
        });

        function GetProjects() {
            var unit = $("#Department").val()
            $.ajax({
                type: "GET",
                url: "/Administration/GetProjects",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: { "unit": unit },
                success: function (data) {
                    $('#Project').html('');
                    $('#Project').append('<option value="">Select</option>');

                    $.each(data, function (k, v) {
                        //$('#Project').append('<option value="">Select</option>');
                        $('#Project').append('<option value="' + v.id + '">' + v.name + '</option>');
                    });
                },
                failure: function (data) {
                    alert(data.responseText);
                },
                error: function (data) {
                    alert(data.responseText);
                }
            });
        }

    </script>
}