﻿@using DP_TIMESHEET_MIS.ViewModels.Administration;

@model EditProjectViewModel;

@{
    ViewData["Title"] = "TIMESHEET MIS | PROJECT";
}

<section role="main" class="content-body" style="height: 430px">
    <header class="page-header">
        <h2>Project</h2>

        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="index.html">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span class="custom-input-style">Project</span></li>
                <li><span class="custom-input-style">Edit Project</span></li>
            </ol>

            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>

    <div class="row">
        <form asp-action="EditProject" class="form-horizontal" method="post">

            <input asp-for="ProjectId" type="hidden" id="ProjectId" value="@Model.ProjectId">

            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#" class="fa fa-caret-down"></a>
                        <a href="#" class="fa fa-times"></a>
                    </div>

                    <h2 class="panel-title custom-input-style">Edit Project</h2>
                    <p class="panel-subtitle custom-input-style">
                        Please fill the required details to edit project
                    </p>
                </header>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-3 control-label custom-input-style">Reference No.</label>
                                <div class="col-sm-6">
                                    <input asp-for="RefNo" type="text" class="form-control custom-input-style">
                                    <span asp-validation-for="RefNo" class="text-danger custom-input-style"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-3 control-label custom-input-style">Name</label>
                                <div class="col-sm-6">
                                    <input asp-for="Name" type="text" class="form-control custom-input-style">
                                    <span asp-validation-for="Name" class="text-danger custom-input-style"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-3 control-label custom-input-style">Address</label>
                                <div class="col-sm-6">
                                    <input asp-for="Address" type="text" class="form-control custom-input-style">
                                    <span asp-validation-for="Address" class="text-danger custom-input-style"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-3 control-label custom-input-style">Client/Partner</label>
                                <div class="col-sm-6">
                                    <input asp-for="Client" type="text" class="form-control custom-input-style">
                                    <span asp-validation-for="Client" class="text-danger custom-input-style"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-3 control-label custom-input-style">Unit/Department</label>
                                <div class="col-sm-6 custom-input-style">
                                    <select asp-for="Department" class="form-control custom-input-style" asp-items="ViewBag.DepartmentTypeId">
                                        <option value="">Select</option>
                                    </select>
                                    <span asp-validation-for="Department" class="text-danger custom-input-style"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-3 control-label custom-input-style">Country</label>
                                <div class="col-sm-6 custom-input-style">
                                    <select asp-for="Country" class="form-control custom-input-style" asp-items="ViewBag.CountryTypeId">
                                        <option value="">Select</option>
                                    </select>
                                    <span asp-validation-for="Country" class="text-danger custom-input-style"></span>
                                </div>
                            </div>

                        </div>
                    </div>
                    <br />

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-3 control-label custom-input-style">Team Leader</label>
                                <div class="col-sm-6 custom-input-style">
                                    <select asp-for="TeamLeader" class="form-control custom-input-style" asp-items="ViewBag.TechnicalTeamTypeId">
                                        <option value="">Select</option>
                                    </select>
                                    <span asp-validation-for="TeamLeader" class="text-danger custom-input-style"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-3 control-label custom-input-style">Project Officer</label>
                                <div class="col-sm-6">
                                    <select asp-for="ProjectOfficer" class="form-control custom-input-style" asp-items="ViewBag.ProjectTeamTypeId">
                                        <option value="">Select</option>
                                    </select>
                                    <span asp-validation-for="ProjectOfficer" class="text-danger custom-input-style"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />


                </div>
                <footer class="panel-footer">
                    <button type="submit" class="btn btn-primary custom-input-style"> Submit</button>
                    <a class="btn btn-default custom-input-style"> Cancel</a>

                </footer>
            </section>
        </form>
    </div>
</section>

@section Scripts
    {
    <script type="text/javascript">

        $(document).ready(function () {

            //$('#TeamLeader').multiselect({
            //    buttonWidth: '350px',
            //    nonSelectedText: 'Select'
            //});

        });

    </script>
}