﻿@using DP_TIMESHEET_MIS.ViewModels.Administration;

@model ManageProfileViewModel;

@{
    ViewData["Title"] = "TIMESHEET MIS | SECURITY";
}

<section role="main" class="content-body">
    <header class="page-header custom-input-style">
        <h2>Security</h2>

        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="index.html">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span class="custom-input-style">Manage Profile</span></li>
                <li><span class="custom-input-style">Security</span></li>
            </ol>

            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>
    <div class="row">
        <form asp-action="ManageProfile" class="form-horizontal form-bordered" method="post">
            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#" class="fa fa-caret-down"></a>
                        <a href="#" class="fa fa-times"></a>
                    </div>

                    <h2 class="panel-title custom-input-style">Manage Profile</h2>
                    <p class="panel-subtitle custom-input-style">
                        Please use this page to manage user profiles.
                    </p>
                </header>
                <header class="panel-heading" style="background-color: white">
                    <div class="visible-sm clearfix mt-sm mb-sm"></div>

                    <div class="clearfix visible-xs mb-sm"></div>

                    <button id="Reset" type="reset" class="btn btn-default custom-input-style">Refresh &nbsp;<i class="fa fa-refresh"></i></button>
                    &nbsp;&nbsp;&nbsp;&nbsp;

                    <div style="float: right">
                        <a asp-action="NewProfile" class="btn btn-success custom-input-style">
                            <i class="fa fa-plus"></i> New Profile
                        </a>
                    </div>

                </header>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-2 control-label custom-input-style">Select Profile</label>
                            <div class="col-sm-8">
                                <div id="tree">
                                    <select asp-for="RoleId" class="form-control custom-input-style onchange" asp-items="ViewBag.RoleId">
                                    <option value="">Select</option>
                                    </select>
                                    <a class="CurrentRootUrl" href="~/Administration/Security/ManageProfile/"></a>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label custom-input-style"></label>
                            <div class="col-sm-8 profiles">
                                <div id="tree">
                                    <ul id="treeData" class="custom-input-style" style="display: block; list-style-type: none;">
                                        @foreach (var item in Model.SystemTasks)
                                        {
                                            <li id="@item.Id" class="folder" style="display: block;">
                                                <i class="fa fa-caret-right"></i>
                                                @if (Model.RoleProfileIds.Contains(item.Id))
                                                {
                                                    <input class="parent" rel="@item.Id" value="@item.Id" name="Ids[]" type="checkbox" checked="checked" />
                                                }
                                                else
                                                {
                                                    <input class="parent" rel="@item.Id" value="@item.Id" name="Ids[]" type="checkbox" />
                                                }
                                                <span>@item.Name @*- @item.Id*@</span>
                                                <ul>
                                                    @foreach (var child in item.Children.OrderBy(c => c.Order))
                                                    {

                                                        <li id="3">

                                                            @if (Model.RoleProfileIds.Contains(child.Id))
                                                            {
                                                                <input value="@child.Id" name="Ids[]" type="checkbox" checked="checked" />
                                                            }
                                                            else
                                                            {
                                                                <input value="@child.Id" name="Ids[]" type="checkbox" />
                                                            }
                                                            @child.Name @*- @child.Id*@
                                                        </li>

                                                    }
                                                </ul>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <footer class="panel-footer">
                    <button type="submit" class="btn btn-primary custom-input-style"> Submit</button>
                    <a class="btn btn-default custom-input-style"> Cancel</a>

                </footer>
            </section>
        </form>
    </div>
</section>

@section scripts{
    <script>
        $(function () {
            $('.onchange').on('change', function () {
                window.location = $('.CurrentRootUrl').attr('href') + $(".onchange option:selected").val();
            });
            // Activate a node, on button click
            $("#button1").click(function () {
                var tree = $("#tree").fancytree("getTree"),
                    node2 = tree.getNodeByKey("id2");
                node2.toggleSelected();
            });
            $('#treeData input.parent').change(function () {

                $(this).parents('li')
                    .find("input[type='checkbox']")
                    .prop('checked', this.checked);
            });
            $('body').on('click', '#treeData input', function () {

                $(this).parents('li').parents('li')
                    .find(".parent")
                    .prop('checked', false);
            });
            $(".profiles i.fa").click(function () {
                $(this).parent().find('ul').slideToggle();
                if ($(this).hasClass('fa-caret-right')) {
                    $(this).addClass('fa-caret-down');
                    $(this).removeClass('fa-caret-right');
                } else {
                    $(this).addClass('fa-caret-right');
                    $(this).removeClass('fa-caret-down');
                }
            });
            $(".profiles li.folder span").click(function () {
                $(this).parent().find('ul').slideToggle();
                if ($(this).parent().find('i.fa').hasClass('fa-caret-right')) {
                    $(this).parent().find('i.fa').addClass('fa-caret-down');
                    $(this).parent().find('i.fa').removeClass('fa-caret-right');
                } else {
                    $(this).parent().find('i.fa').addClass('fa-caret-right');
                    $(this).parent().find('i.fa').removeClass('fa-caret-down');
                }
            });

        });
    </script>
}

