﻿@using DP_TIMESHEET_MIS.ViewModels.Administration;

@model ManageUserViewModel;

@{
    ViewData["Title"] = "TIMESHEET MIS | SECURITY";
}

<section role="main" class="content-body">
    <header class="page-header custom-input-style">
        <h2>Security</h2>

        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="index.html">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span class="custom-input-style">Manage User Role</span></li>
                <li><span class="custom-input-style">Security</span></li>
            </ol>

            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>
    <div class="row">
        <form id="ManageUser" asp-route-returnurl="@ViewData["ReturnUrl"]" class="form-horizontal form-bordered">

            <input asp-for="UserId" type="hidden" id="UserId" value="@Model.UserId">


            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        <div class="panel-actions">
                            <a href="#" class="fa fa-caret-down"></a>
                            <a href="#" class="fa fa-times"></a>
                        </div>

                        <h2 class="panel-title custom-input-style">Manage Role</h2>
                        <p class="panel-subtitle custom-input-style">
                            Please use this page to manage user roles.
                        </p>
                    </header>
                    <div class="panel-body">
                        <div class="row">

                            <div class="form-group">
                                <label class="col-sm-2 control-label custom-input-style">Assign Profile To </label>
                                <div class="col-sm-4">
                                    <h6 class="custom-input-style text-primary">@Model.DisplayName</h6>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="form-group">
                                <label class="col-sm-2 control-label custom-input-style">Select Profile </label>
                                <div class="col-sm-4">
                                    <select asp-for="Profiles" class="form-control custom-input-style" asp-items="ViewBag.UserProfile">
                                        <option value="">Select</option>
                                    </select>
                                </div>
                                <span asp-validation-for="Profiles" class="text-danger custom-input-style"></span>
                            </div>
                        </div>


                    </div>
                    <footer class="panel-footer">
                        <button type="submit" class="btn btn-primary custom-input-style"> Submit</button>
                        <a asp-action="SearchUser" asp-controller="Administration" asp-area="Administration" class="btn btn-default custom-input-style">
                           &nbsp; Cancel
                        </a>

                    </footer>
                </section>
            </div>
        </form>
    </div>
</section>

@section Scripts
    {
    <script type="text/javascript">

        $(document).ready(function () {
        });


        $("#UserProfile").change(function (event) {
            displayVals();
        });

        function displayVals() {
            var selections = [];
            $("#UserProfile option:selected").each(function () {
                var $this = $(this);
                if ($this.length > 0) {
                    var selText = $this.text();
                    selections.push(selText);
                }
            });
            $("#SelectedProfile").html(selections.join(", "));
        }
    </script>
}

