﻿@using DP_TIMESHEET_MIS.ViewModels.Administration;

@model NewProfileViewModel;

@{
    ViewData["Title"] = "TIMESHEET MIS | PROFILE";
}


<section role="main" class="content-body" style="height: 430px">
    <header class="page-header">
        <h2>Security</h2>

        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="index.html">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span class="custom-input-style">Manage Profile</span></li>
                <li><span class="custom-input-style">New</span></li>
            </ol>

            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>

    <div class="row">
        <form asp-action="NewProfile" class="form-horizontal" method="post">

            @*<input asp-for="UserId" type="hidden" id="HeaderId" value="@Model.UserId">*@


            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#" class="fa fa-caret-down"></a>
                        <a href="#" class="fa fa-times"></a>
                    </div>

                    <h2 class="panel-title custom-input-style">New Profile</h2>
                    <p class="panel-subtitle custom-input-style">
                        Please fill the required details to create a new profile
                    </p>
                </header>
                <div class="panel-body" style="height: 100px">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-3 control-label custom-input-style">Profile Name</label>
                                <div class="col-sm-6">
                                    <input asp-for="Name" type="text" class="form-control custom-input-style">
                                    <span asp-validation-for="Name" class="text-danger custom-input-style"></span>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <footer class="panel-footer">
                    <button type="submit" class="btn btn-primary custom-input-style"> Submit</button>
                    <a asp-action="ManageProfile" asp-controller="Administration" asp-area="Administration" class="btn btn-default custom-input-style">
                        </i>&nbsp; Cancel
                    </a>

                </footer>
            </section>
        </form>
    </div>
</section>

