﻿@using DP_TIMESHEET_MIS.ViewModels.Administration;

@model NewPeriodViewModel;

@{
    ViewData["Title"] = "TIMESHEET MIS | PERIOD";
}

<section role="main" class="content-body" style="height: 430px">
    <header class="page-header">
        <h2>Project</h2>

        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="index.html">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span class="custom-input-style">Period</span></li>
                <li><span class="custom-input-style">New Period</span></li>
            </ol>

            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>

    <div class="row">
        <form asp-action="NewPeriod" class="form-horizontal" method="post">
            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#" class="fa fa-caret-down"></a>
                        <a href="#" class="fa fa-times"></a>
                    </div>

                    <h2 class="panel-title custom-input-style">New Period</h2>
                    <p class="panel-subtitle custom-input-style">
                        Please fill the required details to create a new period
                    </p>
                </header>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-2 control-label custom-input-style">Name</label>
                            <div class="col-sm-4">
                                <input asp-for="Name" type="text" class="form-control custom-input-style">
                                <span asp-validation-for="Name" class="text-danger custom-input-style"></span>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-2 control-label custom-input-style">Period Date</label>
                            <div class="col-sm-2 custom-input-style">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                    <input asp-for="StartDate" data-plugin-datepicker="" class="form-control custom-input-style" placeholder="Start Date">
                                </div>
                                <span asp-validation-for="StartDate" class="text-danger custom-input-style"></span>
                            </div>
                            <div class="col-sm-2 custom-input-style">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                    <input asp-for="StopDate" data-plugin-datepicker="" class="form-control custom-input-style" placeholder="Stop Date">
                                </div>
                                <span asp-validation-for="StopDate" class="text-danger custom-input-style"></span>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-2 control-label custom-input-style">Description</label>
                            <div class="col-sm-4">
                                <input asp-for="Description" type="text" class="form-control custom-input-style">
                                <span asp-validation-for="Description" class="text-danger custom-input-style"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="panel-footer">
                    <button type="submit" class="btn btn-primary custom-input-style"> Submit</button>
                    <a class="btn btn-default custom-input-style"> Cancel</a>

                </footer>
            </section>
        </form>
    </div>
</section>

@section Scripts
    {
    <script type="text/javascript">

        $(document).ready(function () {

            $('#Department').multiselect({
                buttonWidth: '350px',
                nonSelectedText: 'Select Department(s)'
            });

        });

    </script>
}