﻿@using DP_TIMESHEET_MIS.ViewModels.Administration;

@model NewUserViewModel;

@{
    ViewData["Title"] = "TIMESHEET MIS | ADMINISTRATION";
}

<section role="main" class="content-body" style="height: 430px">
    <header class="page-header">
        <h2>Security</h2>

        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="index.html">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span class="custom-input-style">Manage User</span></li>
                <li><span class="custom-input-style">New User</span></li>
            </ol>

            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>

    <div class="row">
        <form asp-action="NewUser" class="form-horizontal" method="post">
            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#" class="fa fa-caret-down"></a>
                        <a href="#" class="fa fa-times"></a>
                    </div>

                    <h2 class="panel-title custom-input-style">New User</h2>
                    <p class="panel-subtitle custom-input-style">
                        Please fill the required details to create a new user
                    </p>
                </header>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-3 control-label custom-input-style">First Names</label>
                                <div class="col-sm-6">
                                    <input asp-for="FirstName" type="text" class="form-control custom-input-style">
                                    <span asp-validation-for="FirstName" class="text-danger custom-input-style"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-3 control-label custom-input-style">Surname</label>
                                <div class="col-sm-6">
                                    <input asp-for="SurName" type="text" class="form-control custom-input-style">
                                    <span asp-validation-for="SurName" class="text-danger custom-input-style"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-3 control-label custom-input-style">Phone No.</label>
                                <div class="col-sm-6">
                                    <input asp-for="PhoneNumber" type="text" class="form-control custom-input-style">
                                    <span asp-validation-for="PhoneNumber" class="text-danger custom-input-style"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-3 control-label custom-input-style">Email</label>
                                <div class="col-sm-6">
                                    <input asp-for="Email" type="text" class="form-control custom-input-style">
                                    <span asp-validation-for="Email" class="text-danger custom-input-style"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-3 control-label custom-input-style">Position</label>
                                <div class="col-sm-6">
                                    <select asp-for="Position" class="form-control custom-input-style" asp-items="ViewBag.PositionTypeId">
                                        <option value="">Select</option>
                                    </select>
                                    <span asp-validation-for="Position" class="text-danger custom-input-style"></span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-3 control-label custom-input-style">Line Manager</label>
                                <div class="col-sm-6">
                                    <select asp-for="LineManager" class="form-control custom-input-style" asp-items="ViewBag.LineManagerTypeId">
                                        <option value="">Select</option>
                                    </select>
                                    <span asp-validation-for="LineManager" class="text-danger custom-input-style"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-3 control-label custom-input-style">Start Date</label>
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                        <input asp-for="StartDate" data-plugin-datepicker="" class="form-control custom-input-style">
                                        <span asp-validation-for="StartDate" class="text-danger custom-input-style"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-3 control-label custom-input-style">Job No.</label>
                                <div class="col-sm-6">
                                    <input asp-for="JobNo" type="text" class="form-control custom-input-style">
                                    <span asp-validation-for="JobNo" class="text-danger custom-input-style"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-3 control-label custom-input-style">User Type</label>
                                <div class="col-sm-6">
                                    <select asp-for="Type" class="form-control custom-input-style" asp-items="ViewBag.UserTypeId">
                                        <option value="">Select</option>
                                    </select>
                                </div>
                            </div>
                            <span asp-validation-for="Type" class="text-danger custom-input-style"></span>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-3 control-label custom-input-style">Skill Set</label>
                                <div class="col-sm-6">
                                    <select asp-for="SkillSet" class="form-control custom-input-style" asp-items="ViewBag.SkillSetTypeId">
                                        <option value="">Select</option>
                                    </select>
                                </div>
                            </div>
                            <span asp-validation-for="Type" class="text-danger custom-input-style"></span>
                        </div>
                    </div>


                </div>
                <footer class="panel-footer">
                    <button type="submit" class="btn btn-primary custom-input-style"> Submit</button>
                    <a class="btn btn-default custom-input-style"> Cancel</a>

                </footer>
            </section>
        </form>
    </div>
</section>

@section Scripts
    {
    <script type="text/javascript">

        $(document).ready(function () {

            $('#StartDate').datepicker(
                'setEndDate', new Date()
            );

        });

    </script>
}