﻿@using DP_TIMESHEET_MIS.ViewModels.Administration;
@using PagedList.Core.Mvc;
@model SearchUserViewModel;

@{
    ViewData["Title"] = "TIMESHEET MIS | SECURITY";
}

<section role="main" class="content-body">
    <header class="page-header custom-input-style">
        <h2>Security</h2>

        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="index.html">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span class="custom-input-style">Search User</span></li>
                <li><span class="custom-input-style">Security</span></li>
            </ol>

            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#" class="fa fa-caret-down"></a>
                        <a href="#" class="fa fa-times"></a>
                    </div>

                    <h2 class="panel-title custom-input-style">Search Users</h2>
                    <p class="panel-subtitle custom-input-style">
                        Please supply email address.
                    </p>
                </header>
                <header class="panel-heading" style="background-color: white">
                    <form id="SearchUser" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-inline">
                        <div class="form-group">
                            <div class="col-sm-6">
                                <input asp-for="Email" class="form-control custom-input-style" placeholder="Enter Email Address">
                            </div>
                        </div>

                        <div class="visible-sm clearfix mt-sm mb-sm"></div>

                        <div class="clearfix visible-xs mb-sm"></div>

                        <button id="Search" type="submit" class="btn btn-info custom-input-style">Search &nbsp;<i class="fa fa-search"></i></button>
                        <button id="Reset" type="reset" class="btn btn-default custom-input-style">Reset &nbsp;<i class="fa fa-refresh"></i></button>
                        &nbsp;&nbsp;&nbsp;&nbsp;

                        <div style="float: right">
                            <a asp-action="NewUser" class="btn btn-success custom-input-style">
                                <i class="fa fa-plus"></i> New User
                            </a>
                        </div>
                        <input type="hidden" name="Page" id="pagination-page" value="1" />
                    </form>
                </header>
                <div class="panel-body" style="height: 750px">
                    <div style="height: auto">
                        <table class="table table-striped table-bordered table-responsive custom-input-style">
                            <thead>
                                <tr>
                                    <th><b>CONSULTANT</b></th>
                                    <th><b>EMAIL ADDRESS</b></th>
                                    <th><b>PHONE NUMBER</b></th>
                                    <th><b>ACTIONS</b></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Users)
                                {
                                    var _userId = item.Id;
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.DisplayName)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Email)</td>
                                        <td>@Html.DisplayFor(modelItem => item.PhoneNumber)</td>
                                        <td>
                                            <a asp-action="EditUser" asp-route-id="@_userId" class="btn btn-primary custom-input-style">
                                                <i class="fa fa-edit"></i> Edit
                                            </a>
                                            <a asp-action="ManageUser" asp-route-id="@_userId" class="btn btn-primary custom-input-style">
                                                <i class="fa fa-lock"></i> Assign Role
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <br />
                        @if (!Model.Users.Any())
                        {
                            <div style="text-align:center">
                                <p class="text-primary custom-input-style">
                                    No records to display
                                </p>
                            </div>
                        }

                        <pager class="pager-container" list="@Model.Users" options="@PagedListRenderOptions.TwitterBootstrapPager"
                               asp-action="Index" asp-controller="Search"
                               asp-route-keyword="@Model.Page" />
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>

