﻿@using DP_TIMESHEET_MIS.ViewModels.Administration;
@using PagedList.Core.Mvc;
@model SearchProjectAssignmentViewModel;

@{
    ViewData["Title"] = "TIMESHEET MIS | SETTINGS";
}


<section role="main" class="content-body">
    <header class="page-header custom-input-style">
        <h2>Settings</h2>

        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="index.html">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span class="custom-input-style">Settings</span></li>
                <li><span class="custom-input-style">Manage Project Assignment</span></li>
            </ol>


            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>

    <div class="row">
        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="fa fa-caret-down"></a>
                    <a href="#" class="fa fa-times"></a>
                </div>

                <h2 class="panel-title custom-input-style">Manage Project Assignment</h2>
                <p class="panel-subtitle custom-input-style">
                    Please use this interface to delegate projects to users
                </p>
            </header>
            <header class="panel-heading" style="background-color: white">
                <form id="" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-inline">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <input id="Name" asp-for="Name" class="form-control custom-input-style" placeholder="Enter Consultant Name(s)">
                                <select id="Project" asp-for="Project" class="form-control custom-input-style" asp-items="ViewBag.ProjectTypeId">
                                    <option value="">Select Project</option>
                                </select>
                                <button id="Search" type="submit" class="btn btn-info custom-input-style"><i class="fa fa-search"></i></button>
                                <button id="Reset" type="reset" class="btn btn-default custom-input-style"><i class="fa fa-refresh"></i></button>
                            </div>
                            <div class="form-group" style="float: right">
                                <a asp-action="NewProjectAssignment" asp-controller="Administration" asp-area="Administration" class="btn btn-success custom-input-style">
                                    <i class="fa fa-plus"></i>&nbsp; New Project Assignment
                                </a>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="Page" id="pagination-page" value="1" />
                </form>
            </header>
            <div class="panel-body" style="height: auto">
                <div style="height: 430px">
                    <table class="table table-striped table-bordered table-responsive table-font">

                        <thead>
                            <tr>
                                <th><b>CONSULTANT</b></th>
                                <th><b>PROJECT NAME</b></th>
                                <th><b>ROLE</b></th>
                                <th><b>START DATE</b></th>
                                <th><b>END DATE</b></th>
                                <th><b>ACTIONS</b></th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model.ProjectUser)
                            {
                                var _projectAssignId = item.Id;
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.User.DisplayName)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Project.Name)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Role.Code)</td>
                                    <td>@Html.DisplayFor(modelItem => item.StartDate)</td>
                                    <td>@Html.DisplayFor(modelItem => item.StopDate)</td>
                                    <td>
                                        <div class="btn-group custom-input-style">
                                            <button type="button" class="mb-xs mt-xs mr-xs btn btn-info dropdown-toggle custom-input-style" data-toggle="dropdown" aria-expanded="false">Actions <span class="caret"></span></button>
                                            <ul class="dropdown-menu custom-input-style" role="menu">
                                                <li>
                                                    <a asp-action="EditProjectAssignment" asp-controller="Administration" asp-area="Administration" asp-route-id="@_projectAssignId" class="custom-input-style">
                                                        <i class="fa fa-edit"></i>&nbsp;Edit
                                                    </a>
                                                </li>
                                                @*<li>
                                                        <a class="custom-input-style">
                                                            <i class="fa fa-eye-slash"></i>&nbsp;View
                                                        </a>
                                                    </li>*@
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <br />
                    @if (!Model.ProjectUser.Any())
                    {
                        <div style="text-align:center">
                            <p class="text-primary custom-input-style">
                                No records to display
                            </p>
                        </div>
                    }

                    <pager class="pager-container" list="@Model.ProjectUser" options="@PagedListRenderOptions.TwitterBootstrapPager"
                           asp-action="Index" asp-controller="Search"
                           asp-route-keyword="@Model.Page" />
                </div>
            </div>
        </section>
    </div>
</section>

@section Scripts
    {
    <script type="text/javascript">

        $("#Reset").click(function () {

            $('#Name').val('');
            $('#Project').val('');
        });

    </script>
}
