﻿@using DP_TIMESHEET_MIS.ViewModels.Dashboard;

@model DashboardViewModel;

@{
    ViewData["Title"] = "TIMESHEET MIS | DASHBOARD";
}

<section role="main" class="content-body">
    <header class="page-header custom-input-style">
        <h2>Dashboard</h2>

        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="index.html">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span class=" custom-input-style">Dashboard</span></li>
            </ol>
            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>

    <!--
    <div class="row">
        <div class="col-md-3">
            <section class="panel panel-featured-left panel-featured-primary">
                <div class="panel-body">
                    <div class="widget-summary widget-summary-sm">
                        <div class="widget-summary-col widget-summary-col-icon">
                            <div class="summary-icon bg-primary">
                                <i class="fa fa-plus-square-o"></i>
                            </div>
                        </div>
                        <div class="widget-summary-col">
                            <div class="summary">
                                <h4 class="title">Incomplete Timesheets</h4>
                                <div class="info">
                                    <strong class="amount">@Model.TotalIncomplete</strong>
                                </div>
                            </div>
                            <div class="summary-footer">
                                <a class="text-muted text-uppercase"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="col-md-3">
            <section class="panel panel-featured-left panel-featured-success">
                <div class="panel-body">
                    <div class="widget-summary widget-summary-sm">
                        <div class="widget-summary-col widget-summary-col-icon">
                            <div class="summary-icon bg-success">
                                <i class="fa fa-check-square-o"></i>
                            </div>
                        </div>
                        <div class="widget-summary-col">
                            <div class="summary">
                                <h4 class="title">Submitted Timesheets</h4>
                                <div class="info">
                                    <strong class="amount">@Model.TotalPending</strong>
                                </div>
                            </div>
                            <div class="summary-footer">
                                <a class="text-muted text-uppercase"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="col-md-3">
            <section class="panel panel-featured-left panel-featured-dark">
                <div class="panel-body">
                    <div class="widget-summary widget-summary-sm">
                        <div class="widget-summary-col widget-summary-col-icon">
                            <div class="summary-icon bg-dark">
                                <i class="fa fa-tag"></i>
                            </div>
                        </div>
                        <div class="widget-summary-col">
                            <div class="summary">
                                <h4 class="title">Approved Timesheets</h4>
                                <div class="info">
                                    <strong class="amount">@Model.TotalApproved</strong>
                                </div>
                            </div>
                            <div class="summary-footer">
                                <a class="text-muted text-uppercase"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="col-md-3">
            <section class="panel panel-featured-left panel-featured-danger">
                <div class="panel-body">
                    <div class="widget-summary widget-summary-sm">
                        <div class="widget-summary-col widget-summary-col-icon">
                            <div class="summary-icon bg-danger">
                                <i class="fa fa-exclamation-triangle"></i>
                            </div>
                        </div>
                        <div class="widget-summary-col">
                            <div class="summary">
                                <h4 class="title">Rejected Timesheets</h4>
                                <div class="info">
                                    <strong class="amount">@Model.TotalRejected</strong>
                                </div>
                            </div>
                            <div class="summary-footer">
                                <a class="text-muted text-uppercase"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    -->

    <div class="row">
        <div class="col-md-12">
            <section class="panel">
                <div class="panel-body" style="height: auto">
                    <div class="form-group" style="float: right">
                        <div class="col-sm-9">
                            <select asp-for="Period" class="form-control custom-input-style" asp-items="ViewBag.PeriodTypeId">
                                <option value="">Select Period</option>
                            </select>
                        </div>
                        <button id="Reset" type="reset" class="btn btn-default custom-input-style"><i class="fa fa-refresh"></i></button>

                    </div>

                    <div id="div_barcharterror" class="alert alert-info" style="margin-top: 200px">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <span id="spanBarChartError" class="dialog-container">
                            Nothing to display. The data requested is not available.
                        </span>
                    </div>

                    <div id="div_barchart">
                        <canvas id="bar-chart" width="800" height="450"></canvas>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>
@section Scripts
    {
    <script type="text/javascript">

        $(document).ready(function () {

            GetDashboard();
            //GetProfile();
        });

        $('#Period').change(function () {
            var period = $("#Period").val();
            $("canvas#bar-chart").remove();
            var div_barchart = $('#div_barchart');
            div_barchart.innerHTML = '&nbsp;';
            div_barchart.append('<canvas id="bar-chart" width="800" height="450"></canvas>');
            GetDashboard(period);
        });

        $("#Reset").click(function () {
            $('#Period').val("");
            $("canvas#bar-chart").remove();
            var div_barchart = $('#div_barchart');
            div_barchart.innerHTML = '&nbsp;';
            div_barchart.append('<canvas id="bar-chart" width="800" height="450"></canvas>');
            GetDashboard();
        });

        function GetProfile() {
            $.ajax({
                type: "GET",
                url: "/Dashboard/GetProfile",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: {},
                success: function (data) {
                    if (data) {
                        console.log("/Dashboard/GetProfile/Success");
                    } else {
                        console.log("/Dashboard/GetProfile/Else");
                    }

                },
                failure: function (data) {
                    alert(data.responseText);
                    console.log("/Dashboard/GetProfile/failure");
                },
                error: function (data) {
                    alert(data.responseText);
                    console.log("/Dashboard/GetProfile/error");
                }
            });
        }

        function GetDashboard(period) {
            $.ajax({
                type: "GET",
                url: "/Dashboard/GetDashboard",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: { "period": period },
                success: function (data) {
                    if (data) {
                        $('#div_barcharterror').hide();

                        var barchart = new Chart($("#bar-chart"), {
                            type: 'bar',
                            data: {
                                labels: data.labels,
                                datasets: [
                                    {
                                        label: data.label,
                                        backgroundColor: data.backgroundColors,
                                        data: data.hoursWorked
                                    }
                                ]
                            },
                            options: {
                                legend: { display: false },
                                title: {
                                    display: false,
                                    text: 'Work Hours Per Project'
                                },
                                scales: {
                                    xAxes: [{
                                        barPercentage: 0.5
                                    }],
                                    yAxes: [{
                                        ticks: {
                                            beginAtZero: true,
                                            min: 0,
                                            max: data.yaxismax,
                                            stepSize: 20
                                        },
                                        scaleLabel: {
                                            display: true,
                                            labelString: 'Work Hours Per Project',
                                            fontStyle: "bold",
                                        }
                                    }]
                                },
                            }
                        });
                    } else {
                        $("canvas#bar-chart").remove();
                        $('#div_barcharterror').show();
                    }

                },
                failure: function (data) {
                    alert(data.responseText);
                },
                error: function (data) {
                    alert(data.responseText);
                }
            });
        }

    </script>
}