﻿@{
    ViewData["Title"] = "TIMESHEET MIS | ACCESS DENIED";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<div class="container login-form">
    <div class="panel">
        <div class="panel-body">
            <form asp-action="Login" method="get">
                <div>
                    <h6 class="login-title custom-input-style">ACCESS DENIED</h6>
                </div>
                <br />

                <div class="alert alert-danger custom-input-style">
                    <strong>You have been denied access to this module due to insufficient rights.</strong>
                    <br><br>
                    Please contact your administrator if you think its a system issue or proceed to login<br />
                    with the right credentials.
                </div>
                <hr />
                <button class="btn btn-primary btn-block login-button custom-input-style" type="submit"> Login</button>

            </form>

        </div>
    </div>
</div>

