﻿@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@using Microsoft.AspNetCore.Identity
@using DP_TIMESHEET_MIS.Models;
@using DP_TIMESHEET_MIS.ViewModels.Account;

@model ForgotPasswordViewModel;

@{
    ViewData["Title"] = "TIMESHEET MIS | RESET PASSWORD";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<div class="container login-form">
    <div class="panel">
        <div class="panel-body">
            <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                <div>
                    <h6 class="login-title custom-input-style">PLEASE PROVIDE EMAIL</h6>
                    <br />
                    @if (!ViewData.ModelState.IsValid)
                    {
                    <div asp-validation-summary="All" class="alert alert-danger">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    </div>
                    }
                </div>
                <br />
                <div class="input-group login-userinput">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                    <input asp-for="Email" class="form-control custom-input-style" placeholder="Enter Email Address" />
                </div>
                <hr />
                <button class="btn btn-primary btn-block login-button custom-input-style" type="submit"> Send Recovery Password</button>

            </form>

        </div>
    </div>
</div>

