﻿@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@using Microsoft.AspNetCore.Identity
@using DP_TIMESHEET_MIS.Models;
@using DP_TIMESHEET_MIS.ViewModels.Account;

@model LoginViewModel;
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "TIMESHEET MIS | LOGIN";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<div class="container login-form">
    <div class="panel">
        <div class="panel-body">
            <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                <div>
                    <h6 class="login-title custom-input-style">PLEASE LOGIN TO PROCEED</h6>
                    <br />
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div asp-validation-summary="All" class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        </div>
                    }
                    @if (TempData["SuccessMessage"] != null)
                    {
                        <div class="alert alert-success">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            @TempData["SuccessMessage"]
                        </div>
                    }

                    @if (TempData["ErrorMessage"] != null)
                    {
                        <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            @TempData["ErrorMessage"]
                        </div>
                    }
                </div>
                <br />
                <div class="input-group login-userinput">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                    <input asp-for="Email" placeholder="Email" class="form-control custom-input-style" />
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                    <input asp-for="Password" placeholder="Password" class="form-control custom-input-style" />
                </div>
                <button class="btn btn-primary btn-block login-button custom-input-style" type="submit"> Login</button>
                <hr />
                <div class="checkbox login-options custom-input-style">
                    <label><input asp-for="RememberMe" type="checkbox" /> Remember Me</label>
                    <a asp-action="ForgotPassword" class="login-forgot custom-input-style"><b>Forgot Password?</b></a>
                    <br /><br />

                </div>
            </form>
        </div>
    </div>
</div>

