﻿@using Newtonsoft.Json
@model DP_TIMESHEET_MIS.ViewModels.Account.ProfileViewModel
@{
    ViewBag.Title = "My Profile";
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

<form>
    <div class="col-md-12">
        <p>@ViewBag.Text</p>
    </div>
    <div class="col-md-12">
        <hr />
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
    </div>
</form>

