﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="~/octopus/vendor/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/octopus/stylesheets/theme.css" />
    <link rel="stylesheet" href="~/octopus/stylesheets/skins/default.css" />
    <link rel="stylesheet" href="~/octopus/stylesheets/theme-custom.css?id=@DateTime.Now.ToString("yyyyMMddhhmmss")">
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
    <section class="body">
        <!-- start: header -->
        <header class="header header-fixed">
            <div class="logo-container">
                <a href="../" class="logo">
                    <img src="~/images/dp_logo.png" height="35" alt="JSOFT Admin" />
                </a>
                <div class="visible-xs toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
                    <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
                </div>
            </div>

            <span class="separator"></span>
            <span class="custom-input-style" style="color: darkblue"> <b>DEVELOPMENT PATHWAYS TIMESHEET MANAGEMENT SYSTEM</b></span>

        </header>
        <!-- end: header -->
        @RenderBody()

    </section>


    <div class="footer">
        <p style="font-family:'Tw Cen MT'">Timesheet Management Information System v1.0.0 | © 2018 Copyright | Licenced To Development Pathways Kenya Ltd</p>
    </div>

    @RenderSection("Scripts", required: false)
    @Html.Partial("_NotificationPartial")

</body>
</html>
