﻿
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header bg-info preloader">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModal-label">My Profile</h4>
        </div>
        <div class="modal-body">
            @RenderBody()
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
@*@RenderSection("footer", required: false)
<script src="~/octopus/vendor/bootstrap/js/bootstrap.js"></script>
<script src="~/octopus/vendor/jquery/jquery.js"></script>
<script src="~/js/site.js"></script>

@RenderSection("scripts", required: false)*@