﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="~/octopus/vendor/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/octopus/vendor/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="~/octopus/vendor/magnific-popup/magnific-popup.css" />
    <link rel="stylesheet" href="~/octopus/vendor/bootstrap-datepicker/css/datepicker3.css" />
    <link rel="stylesheet" href="~/octopus/vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css" />
    <link rel="stylesheet" href="~/octopus/vendor/bootstrap-multiselect/bootstrap-multiselect.css" />
    <link rel="stylesheet" href="~/octopus/vendor/morris/morris.css" />
    <link rel="stylesheet" href="~/octopus/vendor/pnotify/pnotify.custom.css" />
    <link rel="stylesheet" href="~/octopus/vendor/bootstrap-fileupload/bootstrap-fileupload.min.css" />
    <link rel="stylesheet" href="~/octopus/vendor/jquery-datatables-bs3/assets/css/datatables.css" />
    <link rel="stylesheet" href="~/octopus/vendor/jstree/themes/default/style.css" />
    <link rel="stylesheet" href="~/octopus/stylesheets/theme.css" />
    <link rel="stylesheet" href="~/octopus/stylesheets/skins/default.css" />
    <link rel="stylesheet" href="~/octopus/stylesheets/theme-custom.css">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <section class="body">
        <!-- start: header -->
        <header class="header">
            <!-- <header class="header header-fixed"> -->
            <div class="logo-container">
                <a href="../" class="logo">
                    <img src="~/images/dp_logo.png" height="35" alt="JSOFT Admin" />

                </a>
                <div class="visible-xs toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
                    <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
                </div>
            </div>

            <span class="separator"></span>
            <span class="custom-input-style" style="color: darkblue"> <b>DEVELOPMENT PATHWAYS TIMESHEET MANAGEMENT SYSTEM</b></span>

            <!-- start: search & user box -->
            <div class="header-right">

                <form action="pages-search-results.html" class="search nav-form"></form>

                <span class="separator"></span>

                <ul class="notifications">
                    @*<li>
                        <a href="#" class="dropdown-toggle notification-icon" data-toggle="dropdown">
                            <i class="fa fa-bell"></i>
                            <span class="badge">3</span>
                        </a>

                        <div class="dropdown-menu notification-menu">
                            <div class="notification-title">
                                <span class="pull-right label label-default">3</span>
                                Alerts
                            </div>

                            <div class="content">
                                <ul>
                                    <li>
                                        <a href="#" class="clearfix">
                                            <div class="image">
                                                <i class="fa fa-thumbs-down bg-danger"></i>
                                            </div>
                                            <span class="title">Server is Down!</span>
                                            <span class="message">Just now</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="clearfix">
                                            <div class="image">
                                                <i class="fa fa-lock bg-warning"></i>
                                            </div>
                                            <span class="title">User Locked</span>
                                            <span class="message">15 minutes ago</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="clearfix">
                                            <div class="image">
                                                <i class="fa fa-signal bg-success"></i>
                                            </div>
                                            <span class="title">Connection Restaured</span>
                                            <span class="message">10/10/2014</span>
                                        </a>
                                    </li>
                                </ul>

                                <hr />

                                <div class="text-right">
                                    <a href="#" class="view-more">View All</a>
                                </div>
                            </div>
                        </div>
                    </li>*@
                </ul>

                <span class="separator"></span>

                @await Html.PartialAsync("_LoginPartial")

            </div>
            <!-- end: search & user box -->
        </header>
        <!-- end: header -->

        <div class="inner-wrapper" style="padding-top: 10px; padding-bottom: 12px">
            <!-- start: sidebar -->
            <aside id="sidebar-left" class="sidebar-left">

                <div class="sidebar-header">
                    <div class="sidebar-title custom-input-style">
                        Navigation
                    </div>
                    <div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
                        <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
                    </div>
                </div>

                <div class="nano">
                    <div class="nano-content">
                        <nav id="menu" class="nav-main" role="navigation">
                            <ul class="nav nav-main">
                                <li class="nav-active custom-input-style">
                                    <a asp-action="Dashboard" asp-controller="Dashboard" asp-area="Dashboard">
                                        <i class="fa fa-home" aria-hidden="true"></i>
                                        <span>Dashboard</span>
                                    </a>
                                </li>
                                <li class="nav-main custom-input-style">
                                    <a asp-action="Search" asp-controller="Timesheet" asp-area="Timesheet">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                        <span>Timesheet</span>
                                    </a>
                                </li>

                                <li class="nav-parent">
                                    <a>
                                        <i class="fa fa-unlock" aria-hidden="true"></i>
                                        <span>Security</span>
                                    </a>
                                    <ul class="nav nav-children">
                                        <li>
                                            <a asp-action="SearchUser" asp-controller="Administration" asp-area="Administration">
                                                <i class="fa fa-user" aria-hidden="true"></i>
                                                <span>Manage Users</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a asp-action="ManageProfile" asp-controller="Administration" asp-area="Administration">
                                                <i class="fa fa-users" aria-hidden="true"></i>
                                                <span>Manage Profiles</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="nav-parent">
                                    <a>
                                        <i class="fa fa-gears" aria-hidden="true"></i>
                                        <span>Settings</span>
                                    </a>
                                    <ul class="nav nav-children">
                                        <li>
                                            <a asp-action="SearchProject" asp-controller="Administration" asp-area="Administration">
                                                <i class="fa fa-cubes" aria-hidden="true"></i>
                                                <span>Project</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a asp-action="SearchPeriod" asp-controller="Administration" asp-area="Administration">
                                                <i class="fa fa-calendar-o" aria-hidden="true"></i>
                                                <span>Period</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>


                                <li class="nav-main custom-input-style">
                                    <a asp-action="Report" asp-controller="Report" asp-area="Report">
                                        <i class="fa fa-tasks" aria-hidden="true"></i>
                                        <span>Reports</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </aside>

            @RenderBody()


        </div>
    </section>

    <div class="footer" style="width: 100%">
        <p style="font-family:'Tw Cen MT'">© 2019 Copyright | Licenced To Development Pathways Kenya Ltd</p>

    </div>

    <div class="modal fade" id="popup" tabindex="-1" role="dialog" aria-labelledby=""> </div>

    <script src="~/octopus/vendor/modernizr/modernizr.js"></script>
    <script src="~/octopus/vendor/jquery/jquery.js"></script>
    <script src="~/octopus/vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
    <script src="~/octopus/vendor/bootstrap/js/bootstrap.js"></script>
    <script src="~/octopus/vendor/nanoscroller/nanoscroller.js"></script>
    <script src="~/octopus/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/octopus/vendor/magnific-popup/magnific-popup.js"></script>
    <script src="~/octopus/vendor/jquery-placeholder/jquery.placeholder.js"></script>
    <script src="~/octopus/vendor/jquery-ui/js/jquery-ui-1.10.4.custom.js"></script>
    <script src="~/octopus/vendor/jquery-ui-touch-punch/jquery.ui.touch-punch.js"></script>
    <script src="~/octopus/vendor/jquery-appear/jquery.appear.js"></script>
    <script src="~/octopus/vendor/bootstrap-multiselect/bootstrap-multiselect.js"></script>
    <script src="~/octopus/vendor/jquery-easypiechart/jquery.easypiechart.js"></script>
    <script src="~/octopus/vendor/flot/jquery.flot.js"></script>
    <script src="~/octopus/vendor/flot-tooltip/jquery.flot.tooltip.js"></script>
    <script src="~/octopus/vendor/flot/jquery.flot.pie.js"></script>
    <script src="~/octopus/vendor/flot/jquery.flot.categories.js"></script>
    <script src="~/octopus/vendor/flot/jquery.flot.resize.js"></script>
    <script src="~/octopus/vendor/jquery-sparkline/jquery.sparkline.js"></script>
    <script src="~/octopus/vendor/raphael/raphael.js"></script>
    <script src="~/octopus/vendor/morris/morris.js"></script>
    <script src="~/octopus/vendor/gauge/gauge.js"></script>
    <script src="~/octopus/vendor/snap-svg/snap.svg.js"></script>
    <script src="~/octopus/vendor/liquid-meter/liquid.meter.js"></script>
    <script src="~/octopus/vendor/bootstrap-fileupload/bootstrap-fileupload.min.js"></script>
    <script src="~/octopus/vendor/fuelux/js/spinner.js"></script>
    <script src="~/octopus/vendor/pnotify/pnotify.custom.js"></script>
    <script src="~/octopus/vendor/select2/select2.js"></script>
    <script src="~/octopus/vendor/jquery-datatables/media/js/jquery.dataTables.js"></script>
    <script src="~/octopus/vendor/jquery-datatables/extras/TableTools/js/dataTables.tableTools.min.js"></script>
    <script src="~/octopus/vendor/jquery-datatables-bs3/assets/js/datatables.js"></script>
    <script src="~/octopus/javascripts/ui-elements/examples.modals.js"></script>
    <script src="~/plugins/fancytree/jquery.fancytree-all-deps.min.js"></script>
    <script src="~/plugins/chart-js/chart-js.js"></script>
    <script src="~/octopus/vendor/jstree/jstree.js"></script>
    <script src="~/octopus/javascripts/ui-elements/examples.treeview.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/octopus/javascripts/theme.js"></script>
    <script src="~/octopus/javascripts/theme.custom.js"></script>
    <script src="~/octopus/javascripts/theme.init.js"></script>
    @*<script src="~/octopus/javascripts/dashboard/examples.dashboard.js"></script>*@


    @RenderSection("Scripts", required: false)

    @Html.Partial("_NotificationPartial")
</body>
</html>
