@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div id="userbox" class="userbox">
    @if (SignInManager.IsSignedIn(User))
    {
        <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
            <div id="userbox" class="userbox">
                <a href="#" data-toggle="dropdown">
                    <figure class="profile-picture">
                        <img src="~/octopus/images/!sample-user.jpg" alt="Joseph Doe" class="img-circle" data-lock-picture="assets/images/!logged-user.jpg" />
                    </figure>
                    <div class="profile-info" data-lock-name="" data-lock-email="">
                        <span class="name custom-input-style custom-input-style"><b>@UserManager.GetUserName(User)</b></span>
                    </div>

                    <i class="fa custom-caret"></i>
                </a>

                <div class="dropdown-menu custom-input-style">
                    <ul class="list-unstyled">
                        <li class="divider"></li>
                        @*<li>
                            <a class="btn btn-primary lnk-modal" asp-controller="Account" asp-action="Profile">Run Modal</a>
                        </li>
                        <li class="divider"></li>*@
                        @*<li>
                            <button asp-controller="Account" asp-action="Profile" role="menuitem" tabindex="-1" class="btn btn-link navbar-btn navbar-link lnk-modal">
                                <i class="fa fa-user"></i> My Profile
                            </button>
                        </li>
                        <li class="divider"></li>*@
                        <li>
                            <button role="menuitem" tabindex="-1" type="submit" class="btn btn-link navbar-btn navbar-link">
                                <i class="fa fa-power-off"></i> Log out
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </form>
    }
    else
    {
        <div class="dropdown-menu">
            <ul class="list-unstyled">
                <li>
                    <a class="custom-input-style" role="menuitem" tabindex="-1" href="pages-user-profile.html"><i class="fa fa-user"></i> Register</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a class="custom-input-style" role="menuitem" tabindex="-1" href="#" data-lock-screen="true" asp-area="Identity" asp-page="/Account/Login"><i class="fa fa-lock"></i>Login</a>
                </li>
            </ul>
        </div>
    }

</div>