﻿@if (TempData["Success"] != null)
{
    <input type="hidden" id="modal" value="#successModal" />
    @Html.Partial("_Success", (string)TempData["Success"])

}

@if (TempData["Error"] != null)
{
    <input type="hidden" id="modal" value="#errorModal" />
    @Html.Partial("_Error", (string)TempData["Error"])

}

<script>
    $(window).load(function () {
        var showModal = $('#modal').val();
        if (typeof showModal !== 'undefined') {
            $(showModal).modal('show');
        }
    });
</script>
