﻿@using Newtonsoft.Json
@model string
@{
    ViewBag.Title = "My Profile";
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

<form>
    <input type="hidden" value="1" name="Id" />
    <div class="col-md-12">
        My Profile
    </div>
    <div class="col-md-12">
        <hr />
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
    </div>
</form>