﻿@model string

<div id="successModal" class="modal fade container dialog-container" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-success">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title custom-input-style">Success</h4>
            </div>
            <div class="modal-body">
                <div class="modal-icon">
                    <i class="fa fa-check"></i>
                </div>
                <div>
                    <h5 class="custom-input-style">@Html.Raw(Model)</h5>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default custom-input-style" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
