﻿@using DP_TIMESHEET_MIS.ViewModels.Timesheet;

@model ApproveTimesheetViewModel;

@{
    ViewData["Title"] = "TIMESHEET MIS | APPROVE TIMESHEET";
}

<section role="main" class="content-body">
    <header class="page-header custom-input-style">
        <h2>Timesheet</h2>

        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="index.html">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span class="custom-input-style">Timesheet</span></li>
                <li><span class="custom-input-style">Approve</span></li>
            </ol>

            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#" class="fa fa-caret-down"></a>
                        <a href="#" class="fa fa-times"></a>
                    </div>

                    <h2 class="panel-title custom-input-style">Approve Timesheet</h2>
                    <p class="panel-subtitle custom-input-style">
                        Please approve/reject the open timesheet.
                    </p>
                </header>
                <header class="panel-heading" style="background-color: white">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="control-label custom-input-style">Name : </label>
                            <label class="control-label custom-input-style text-primary"><b>@Model.Name</b></label>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label custom-input-style">Type : </label>
                            <label class="control-label custom-input-style text-primary"><b>@Model.Type</b></label>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="control-label custom-input-style">Period : </label>
                            <label class="control-label custom-input-style text-primary"><b>@Model.Period</b></label>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label custom-input-style">Project : </label>
                            <label class="control-label custom-input-style text-primary"><b>@Model.Project</b></label>
                        </div>
                    </div>
                </header>
                <div class="panel-body">
                    <div style="float: left">
                        <a asp-action="Approving" asp-route-id="@Model.HeaderId" class="btn btn-success custom-input-style">
                            Approve
                        </a>
                    </div>
                    <div style="float: right">
                        <a class="mb-xs mt-xs mr-xs modal-basic btn btn-danger custom-input-style" href="#modalReject">Reject</a>
                    </div>
                    <hr />

                    <div id="modalReject" class="modal-block modal-header-color modal-block-danger mfp-hide">
                        <section class="panel">
                            <header class="panel-heading custom-input-style">
                                <h2 class="panel-title">Reject Reason</h2>
                            </header>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group custom-input-style">
                                            <label class="control-label">Reason for Rejecting Timesheet </label>
                                            <br />
                                            <textarea id="RejectReason" asp-for="RejectReason" class="form-control" rows="5" placeholder="Type your reason"></textarea>
                                        </div>
                                    </div>



                                </div>
                            </div>
                            <footer class="panel-footer">
                                <div class="row">
                                    <div class="col-md-12 text-right">
                                        <button id="btnSaveRejectReason" class="btn btn-info modal-dismiss custom-input-style">Save</button>
                                        <button class="btn btn-default modal-dismiss custom-input-style">Cancel</button>
                                    </div>
                                </div>
                            </footer>

                        </section>

                    </div>
                    <div id="tblTimesheet" style="height: auto">
                        <table class="table table-striped table-bordered table-responsive custom-input-style">
                            <thead>
                                <tr><th colspan="5" class="header-logo" height="100"></th></tr>
                                <tr>
                                    <th>DAY</th>
                                    <th><b>DATE WORKED</b></th>
                                    <th><b>HOURS WORKED</b></th>
                                    <th><b>TASK DESCRIPTION</b></th>
                                    <th><b>SITE</b></th>
                                </tr>
                            </thead>
                            <tbody>
                                @{int i = 1;}
                                @foreach (var item in Model.Timesheets)
                                {
                                    <tr>
                                        <td>@i</td>
                                        <td>@Html.DisplayFor(modelItem => item.DateFilled)</td>
                                        <td>@Html.DisplayFor(modelItem => item.HoursWorked)</td>
                                        <td>@Html.DisplayFor(modelItem => item.TaskDescription)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Site.Code)</td>
                                    </tr>
                                    i++;
                                }
                            </tbody>
                        </table>
                    </div>

                    <br />
                    <div style="float: right">
                        <a asp-action="Search" asp-controller="Timesheet" asp-area="Timesheet" asp-route-id="@Model.HeaderId" class="btn btn-default custom-input-style">
                            <i class="fa fa-times"></i>&nbsp; Cancel
                        </a>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>



@section Scripts
    {
    <script type="text/javascript">
        $(document).ready(function () {


        });

        $("#btnSaveRejectReason").click(function () {
            var _headerId = "\"@Model.HeaderId\"";
            @*var _headerId = String(@Model.HeaderId);*@
            var _rejectReason = $('#RejectReason').val();
            var data = {
                'headerId': _headerId,
                'rejectReason': _rejectReason
            }

            $.ajax({
                type: "POST",
                url: '@Url.Action("Reject")',
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify(data),
                success: function (response) {
                    window.location.href = response;
                },
                error: function (xhr, status, error) {
                    alert("Error Response :- " + xhr.responseText);
                }
            });
        });

        $("#btnPrint").click(function () {
            var table = $("#tblTimesheet");
            win = window.open("");
            win.document.write(table.outerHTML);
            win.print();
            win.close();
        });

        $("#btnPrint1").click(function () {
            printData();
        });


        function printData()
        {
            var divToPrint = document.getElementById("printTable");
            newWin = window.open("");
            newWin.document.write(divToPrint.outerHTML);
            newWin.print();
            newWin.close();
        }

    </script>
}