﻿@using DP_TIMESHEET_MIS.ViewModels.Timesheet;
@using PagedList.Core.Mvc;
@model EditTimesheetViewModel;

@{
    ViewData["Title"] = "TIMESHEET MIS | TIMESHEET";
}

<section role="main" class="content-body">
    <header class="page-header custom-input-style">
        <h2>Timesheet</h2>

        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="index.html">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span class="custom-input-style">Timesheet</span></li>
                <li><span class="custom-input-style">Edit</span></li>
            </ol>

            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#" class="fa fa-caret-down"></a>
                        <a href="#" class="fa fa-times"></a>
                    </div>

                    <h2 class="panel-title custom-input-style">Edit Timesheet</h2>
                    <p class="panel-subtitle custom-input-style">
                        Please edit the open timesheet.
                    </p>
                </header>
                <header class="panel-heading" style="background-color: white">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="control-label custom-input-style">Name : </label>
                            <label class="control-label custom-input-style text-primary"><b>@Model.Name</b></label>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label custom-input-style">Type : </label>
                            <label class="control-label custom-input-style text-primary"><b>@Model.Type</b></label>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="control-label custom-input-style">Period : </label>
                            <label class="control-label custom-input-style text-primary"><b>@Model.Period</b></label>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label custom-input-style">Project : </label>
                            <label class="control-label custom-input-style text-primary"><b>@Model.Project</b></label>
                        </div>
                    </div>
                </header>

                <div class="panel-body">

                    <div style="float: left">
                        <a asp-action="New" asp-controller="Timesheet" asp-area="Timesheet" class="btn btn-success custom-input-style">
                            <i class="fa fa-plus"></i> New Timesheet
                        </a>
                    </div>
                    <div style="float: right">
                        <a asp-action="Search" asp-controller="Timesheet" asp-area="Timesheet" asp-route-id="@Model.HeaderId" class="btn btn-default custom-input-style">
                            <i class="fa fa-times"></i>&nbsp; Cancel
                        </a>
                    </div>
                    <br />
                    <br />
                    <input asp-for="HeaderId" type="hidden" id="HeaderId" value="@Model.HeaderId">

                    <div style="height: 750px">
                        <table class="table table-striped table-bordered table-responsive custom-input-style">
                            <thead>
                                <tr><th colspan="7" class="header-logo" height="100"></th></tr>
                                <tr>
                                    <th><b>DATE WORKED</b></th>
                                    <th><b>HOURS WORKED</b></th>
                                    @*<th><b>PROJECT</b></th>*@
                                    <th><b>TASK DESCRIPTION</b></th>
                                    @*<th><b>ROLE</b></th>*@
                                    <th><b>SITE</b></th>
                                    <th style="text-align: center;"><b>EDIT</b></th>
                                    <th style="text-align: center;"><b>VIEW</b></th>
                                </tr>
                            </thead>
                            <tbody>
                                @{int i = 1;}
                                @foreach (var item in Model.Timesheets)
                                {
                                    var _detailId = item.Id;

                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.DateFilled)</td>
                                        <td>@Html.DisplayFor(modelItem => item.HoursWorked)</td>
                                        @*<td>@Html.DisplayFor(modelItem => item.TimesheetHeader.Project.Name)</td>*@
                                        <td>@Html.DisplayFor(modelItem => item.TaskDescription)</td>
                                        @*<td>@Html.DisplayFor(modelItem => item.Role.Code)</td>*@
                                        <td>@Html.DisplayFor(modelItem => item.Site.Code)</td>
                                        <td align="center">
                                            <a asp-action="EditDetail" asp-controller="Timesheet" asp-area="Timesheet" asp-route-id="@_detailId" class="custom-input-style">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                        </td>
                                        <td align="center">
                                            <a asp-action="View" asp-controller="Timesheet" asp-area="Timesheet" asp-route-id="@_detailId" class="custom-input-style">
                                                <i class="fa fa-eye-slash"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    i++;
                                }
                            </tbody>
                        </table>
                        <br />
                         <form  method="post" class="form-inline form-paginated">
                            <pager class="pager-container" list="@Model.Timesheets" options="@PagedListRenderOptions.TwitterBootstrapPager"
                            asp-action="Edit" asp-controller="Timesheet"
                            asp-route-keyword="@Model.Page" />
                            <input type="hidden" name="Page" id="pagination-page" value="1" />
                        </form>
                    </div>

                </div>
            </section>
        </div>
    </div>
</section>
