﻿@using DP_TIMESHEET_MIS.ViewModels.Timesheet;

@model EditTimesheetDetailViewModel;

@{
    ViewData["Title"] = "TIMESHEET MIS | TIMESHEET";
}

<section role="main" class="content-body" style="height: 430px">
    <header class="page-header">
        <h2>Timesheet</h2>

        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="index.html">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span class="custom-input-style">Timesheet</span></li>
                <li><span class="custom-input-style">Edit Detail</span></li>
            </ol>

            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>

    <div class="row">
        <form asp-action="EditDetail" class="form-horizontal" method="post">

            <input asp-for="Consultant" type="hidden" id="HeaderId" value="@Model.Consultant">
            <input asp-for="DetailId" type="hidden" id="DetailId" value="@Model.DetailId">
            <input asp-for="HeaderId" type="hidden" id="HeaderId" value="@Model.HeaderId">

            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#" class="fa fa-caret-down"></a>
                        <a href="#" class="fa fa-times"></a>
                    </div>

                    <h2 class="panel-title custom-input-style">Edit Timesheet Detail</h2>
                    <p class="panel-subtitle custom-input-style">
                        Please update the required details to change your timesheet
                    </p>
                </header>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-2 control-label custom-input-style">Project</label>
                                <div class="col-sm-6">
                                    <select asp-for="Project" class="form-control custom-input-style" asp-items="ViewBag.ProjectTypeId">
                                        <option value="">Select</option>
                                    </select>
                                </div>
                                <span asp-validation-for="Period" class="text-danger custom-input-style"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-2 control-label custom-input-style">Period</label>
                                <div class="col-sm-6">
                                    <select asp-for="Period" class="form-control custom-input-style" asp-items="ViewBag.PeriodTypeId">
                                        <option value="">Select</option>
                                    </select>
                                </div>
                                <span asp-validation-for="Period" class="text-danger custom-input-style"></span>
                            </div>
                        </div>
                    </div>
                    <br />

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-2 control-label custom-input-style">Date</label>
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                        <input asp-for="DateFilled" id="DateFilled" type="text" data-plugin-datepicker="" class="form-control custom-input-style">
                                    </div>
                                </div>
                                <span asp-validation-for="DateFilled" class="text-danger custom-input-style"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-2 control-label custom-input-style">Site</label>
                                <div class="col-sm-6">
                                    <select asp-for="Site" class="form-control custom-input-style" asp-items="ViewBag.SiteTypeId">
                                        <option value="">Select</option>
                                    </select>
                                </div>
                                <span asp-validation-for="Site" class="text-danger custom-input-style"></span>
                            </div>
                        </div>

                    </div>
                    <br />

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-2 control-label custom-input-style">Hours Worked</label>
                                <div class="col-sm-6">
                                    <div data-plugin-spinner>
                                        <div class="input-group input-small">
                                            <input asp-for="HoursWorked" type="text" class="spinner-input form-control custom-input-style">
                                            <div class="spinner-buttons input-group-btn btn-group-vertical">
                                                <button type="button" class="btn spinner-up btn-xs btn-default">
                                                    <i class="fa fa-angle-up"></i>
                                                </button>
                                                <button type="button" class="btn spinner-down btn-xs btn-default">
                                                    <i class="fa fa-angle-down"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <span asp-validation-for="HoursWorked" class="text-danger custom-input-style"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-2 control-label custom-input-style">Task Description</label>
                                <div class="col-sm-6">
                                    <input asp-for="TaskDescription" type="text" class="form-control custom-input-style" placeholder="Task Description" id="TaskDescription">
                                </div>
                                <span asp-validation-for="TaskDescription" class="text-danger custom-input-style"></span>
                            </div>
                        </div>

                    </div>
                    <br>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-2 control-label custom-input-style">Location</label>
                                <div class="col-sm-6">
                                    <input asp-for="Location" type="text" class="form-control custom-input-style" placeholder="Location" id="Location">
                                </div>
                                <span asp-validation-for="Location" class="text-danger custom-input-style"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="panel-footer">
                    <button type="submit" class="btn btn-primary custom-input-style"> Submit</button>
                    <a asp-action="Edit" asp-controller="Timesheet" asp-area="Timesheet" asp-route-id="@Model.HeaderId" class="btn btn-default custom-input-style">
                        Cancel
                    </a>

                </footer>
            </section>
        </form>
    </div>
</section>
