﻿@using DP_TIMESHEET_MIS.ViewModels.Timesheet;
@using PagedList.Core.Mvc;
@model SearchTimesheetViewModel;

@{
    ViewData["Title"] = "TIMESHEET MIS | TIMESHEET";
}

<section role="main" class="content-body">
    <header class="page-header custom-input-style">
        <h2>Timesheet</h2>

        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="index.html">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>Search</span></li>
                <li><span>Timesheet</span></li>
            </ol>

            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#" class="fa fa-caret-down"></a>
                        <a href="#" class="fa fa-times"></a>
                    </div>

                    <h2 class="panel-title custom-input-style">Search Timesheet</h2>
                    <p class="panel-subtitle custom-input-style">
                        Please supply filter parameters.
                    </p>
                </header>
                <header class="panel-heading" style="background-color: white">
                    <form id="SearchTimesheet" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <input asp-for="SearchName" class="form-control custom-input-style" placeholder="Enter Name">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <select asp-for="Project" class="form-control custom-input-style" asp-items="ViewBag.ProjectTypeId">
                                        <option value="">Select Project</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <select asp-for="Period" class="form-control custom-input-style" asp-items="ViewBag.PeriodTypeId">
                                        <option value="">Select Period</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <button id="Search" type="submit" class="btn btn-info custom-input-style"><i class="fa fa-search"></i></button>
                                <button id="Reset" type="reset" class="btn btn-default custom-input-style"><i class="fa fa-refresh"></i></button>
                            </div>
                            <div class="col-md-2">
                                <a asp-action="New" asp-controller="Timesheet" asp-area="Timesheet" class="btn btn-success custom-input-style">
                                    <i class="fa fa-plus"></i> New Timesheet
                                </a>
                            </div>
                        </div>
                    </form>
                </header>
                <div class="panel-body" style="height: 800px">
                    <br />

                    <div style="height: auto">
                        <table class="table table-striped table-bordered table-responsive table-font" id="datatable-default">
                            <thead>
                                <tr>
                                    <th><b>NAME</b></th>
                                    <th><b>PROJECT</b></th>
                                    <th><b>PERIOD</b></th>
                                    <th><b>HOURS WORKED</b></th>
                                    <th><b>TIMESHEET STATUS</b></th>
                                    <th><b>APPROVED BY</b></th>
                                    <th><b>ACTIONS</b></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Timesheet)
                                {
                                    var _status = item.TimesheetStatus;
                                    var _headerId = item.HeaderId;
                                    var _approver = "Not Approved";
                                    var _isapprover = item.isApprover;
                                    if (item.ApprovedBy != null)
                                    {
                                        _approver = item.ApprovedBy.DisplayName;
                                    }
                                    <tr>
                                        <td>@Html.Raw(item.Name)</td>
                                        <td>@Html.Raw(item.Project)</td>
                                        <td>@Html.Raw(item.PeriodName)</td>
                                        <td>@Html.Raw(item.HoursWorked)</td>
                                        <td>@Html.Raw(item.TimesheetStatus)</td>
                                        <td> @_approver </td>
                                        <td>
                                            <div class="btn-group custom-input-style">
                                                <button type="button" class="mb-xs mt-xs mr-xs btn btn-info dropdown-toggle custom-input-style" data-toggle="dropdown" aria-expanded="false">Actions <span class="caret"></span></button>
                                                <ul class="dropdown-menu custom-input-style" role="menu">

                                                    @if (_status != "Pending Approval" && _status != "Approved")
                                                    {
                                                        <li>
                                                            <a asp-action="Edit" asp-controller="Timesheet" asp-area="Timesheet" asp-route-id="@_headerId" class="custom-input-style">
                                                                <i class="fa fa-edit"></i>&nbsp;Edit
                                                            </a>
                                                        </li>
                                                    }
                                                    <li>
                                                        <a asp-action="Download" asp-controller="Timesheet" asp-area="Timesheet" asp-route-id="@_headerId" class="custom-input-style">
                                                            <i class="fa fa-download"></i>&nbsp;Download
                                                        </a>
                                                    </li>
                                                    @if (_status == "Pending Approval" && _isapprover)
                                                    {

                                                        <li class="divider"></li>
                                                        <li>
                                                            <a asp-action="Approve" asp-controller="Timesheet" asp-area="Timesheet" asp-route-id="@_headerId" class="custom-input-style">
                                                                <i class="fa fa-check-square-o"></i>&nbsp;Approve
                                                            </a>
                                                        </li>
                                                    }
                                                    @if (_status != "Pending Approval" && _status != "Approved")
                                                    {

                                                        <li class="divider"></li>
                                                        <li>
                                                            <a asp-action="SendToApproval" asp-controller="Timesheet" asp-area="Timesheet" asp-route-id="@_headerId" class="custom-input-style">
                                                                <i class="fa fa-check-circle-o"></i>&nbsp;Send To Approval
                                                            </a>
                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <br />
                        @if (!Model.Timesheet.Any())
                        {
                            <div style="text-align:center">
                                <p class="text-primary custom-input-style">
                                    No records to display
                                </p>
                            </div>
                        }

                        
                        <form class="form-inline form-paginated">
                            <pager class="pager-container" list="@Model.Timesheet" options="@PagedListRenderOptions.TwitterBootstrapPager"
                               asp-action="Search" asp-controller="Timesheet"
                               asp-route-keyword="@Model.Page" />
                               <input type="hidden" name="Page" id="pagination-page" value="1" />
                        </form> 
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>



@section Scripts
    {
    <script type="text/javascript">

        $("#Reset").click(function () {
            $('#SearchName').val('');
            $('#Period').val('');
        });

    </script>
}

