﻿@using DP_TIMESHEET_MIS.ViewModels.Timesheet;

@model SignatureViewModel;

@{
    ViewData["Title"] = "TIMESHEET MIS | TIMESHEET";
}

<section role="main" class="content-body" style="height: 430px">
    <header class="page-header custom-input-style">
        <h2>Signature</h2>

        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="index.html">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span class="custom-input-style">Signature</span></li>
                <li><span class="custom-input-style">Upload</span></li>
            </ol>

            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>

    <div class="row">
        <form asp-action="Signature" enctype="multipart/form-data" method="post">
            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#" class="fa fa-caret-down"></a>
                        <a href="#" class="fa fa-times"></a>
                    </div>

                    <h2 class="panel-title custom-input-style">Upload Signature</h2>
                    <p class="panel-subtitle custom-input-style">
                        Please upload your to complete registration.
                    </p>
                </header>
                <div class="panel-body" style="height: 200px">
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div asp-validation-summary="All" class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        </div>
                    }
                    <div class="row">
                        <br />
                        <div class="form-group col-md-12">
                            <label class="control-label custom-input-style">Signature </label>
                            <div class="fileupload fileupload-new" data-provides="fileupload">
                                <div class="input-append">
                                    <div class="uneditable-input">
                                        <span class="fileupload-preview"></span>
                                    </div>
                                    <span class="btn btn-default btn-file custom-input-style">
                                        <span class="fileupload-exists">Change</span>
                                        <span class="fileupload-new">Select Image...</span>
                                        <input id="files" type="file" name="Signature" placeholder="Choose Image ...">
                                    </span>
                                    <a href="#" class="btn btn-default fileupload-exists" data-dismiss="fileupload">Remove</a>
                                </div>
                            </div>
                            <br />
                            <p class="text-dark custom-input-style"><i>Please upload an image not larger than 32px by 32px</i></p>
                        </div>


                    </div>
                </div>
                <footer class="panel-footer">
                    <button type="submit" class="btn btn-primary custom-input-style"> Submit</button>
                    <a class="btn btn-default custom-input-style"> Cancel</a>
                </footer>
            </section>
        </form>
    </div>
</section>
