﻿@using DP_TIMESHEET_MIS.ViewModels.Timesheet;

@model ViewTimesheetViewModel;

@{
    ViewData["Title"] = "TIMESHEET MIS | TIMESHEET";
}

<section role="main" class="content-body">
    <header class="page-header custom-input-style">
        <h2>Timesheet</h2>

        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="index.html">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span class="custom-input-style">Timesheet</span></li>
                <li><span class="custom-input-style">View</span></li>
            </ol>

            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#" class="fa fa-caret-down"></a>
                        <a href="#" class="fa fa-times"></a>
                    </div>

                    <h2 class="panel-title custom-input-style">View Timesheet</h2>
                    <p class="panel-subtitle custom-input-style">
                        Please view the open timesheet.
                    </p>
                </header>
                <div class="panel-body">
                    <input asp-for="HeaderId" type="hidden" id="HeaderId" value="@Model.HeaderId">

                    <div style="height: 430px">
                        <table id="tblTimesheet" border="1" class="table table-bordered mb-none">
                            <thead>
                                <tr>
                                    <th colspan="6" class="table-header"></th>
                                    <th>DAY</th>
                                    <th><b>DATE WORKED</b></th>
                                    <th><b>SITE</b></th>
                                    <th><b>LOCATION</b></th>
                                    <th><b>TASK DESCRIPTION</b></th>
                                    <th><b>SITE</b></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <br />
                    <div style="float: right">
                        <a id="btnPrint" class="btn btn-default custom-input-style">
                            <i class="fa fa-print"></i> Print
                        </a>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>

@section Scripts
    {
    <script type="text/javascript">
        function printData() {
            var divToPrint = document.getElementById("tblTimesheet");
            newWin = window.open("");
            newWin.document.write(divToPrint.outerHTML);
            newWin.print();
            newWin.close();
        }

        $('#btnPrint').on('click', function () {
            printData();
        })

    </script>
}