﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

span.fancytree-icon {
    display: none !important;
}

/*

.multiselect.dropdown-toggle {
    text-align: left;
}
*/

.bgimg {
    background-image: url('../images/dp_header_master.PNG');
}

.header-logo {
    background-image: url('../images/dp_header_master.PNG');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /*border-left: 1px solid #FFF;
    border-right: 1px solid #000;
    border-top: 1px solid #FFF;
    padding-left: 30px;
    padding-top: 8px;*/
}


/** CSS For Fancy Tree **/
ul#treeData {
    font-family: tahoma, arial, helvetica;
    font-size: 10pt;
    white-space: nowrap;
    padding: 10px;
    padding-left: 30px;
    margin: 0;
    background-color: white;
    border: 1px dotted gray;
    min-height: 0%;
    position: relative;
}

.profiles .folder {
    cursor: pointer;
}

span.fancytree-icon {
    display: none !important;
}

input[type=checkbox], input[type=radio] {
    margin-right: 5px;
    cursor: pointer;
}

.profiles i.fa {
    font-size: 16px;
    cursor: pointer;
}

.profiles li {
    list-style: none;
}
footer.copy p {
    text-align: center;
    padding-top: 10px;
}

.profiles li ul {
    list-style: none;
    border-left: 1px dotted;
    margin-bottom: 0px;
    padding-left: 25px;
    margin-left: 18px;
    display: none;
}