﻿@using DP_TIMESHEET_MIS.ViewModels.Report;

@model ReportViewModel;

@{
    ViewData["Title"] = "TIMESHEET MIS | REPORT";
    Layout = "~/Views/Shared/_LayoutDefault.cshtml";
}

<section role="main" class="content-body">
    <header class="page-header custom-input-style">
        <h2>Report</h2>

        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="index.html">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span class="custom-input-style">Report</span></li>
                <li><span class="custom-input-style">Generate Reports</span></li>
            </ol>

            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#" class="fa fa-caret-down"></a>
                        <a href="#" class="fa fa-times"></a>
                    </div>

                    <h2 class="panel-title custom-input-style">Generate Reports</h2>
                    <p class="panel-subtitle custom-input-style">
                        Please supply filter parameters.
                    </p>
                </header>
                <div class="panel-body">
                    <form id="RunReport" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <select asp-for="ReportType" class="form-control custom-input-style" asp-items="ViewBag.ReportTypeId">
                                        <option value="">Select Report</option>
                                    </select>
                                </div>
                                <br />
                                <span asp-validation-for="ReportType" class="text-danger custom-input-style"></span>
                            </div>
                            <div class="col-md-3">
                                <button type="submit" class="btn btn-primary custom-input-style"><i class="fa fa-download"></i></button>
                                <button type="reset" class="btn btn-default custom-input-style"><i class="fa fa-refresh"></i></button>
                            </div>
                        </div>
                        @*<hr />
                        <div class="row">
                            <div class="col-md-3">
                                <button type="submit" class="btn btn-primary custom-input-style"><i class="fa fa-download"></i></button>
                                <button type="reset" class="btn btn-default custom-input-style"><i class="fa fa-refresh"></i></button>
                            </div>
                        </div>*@
                        <br />
                    </form>
                    @*<form id="RunReport" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <select asp-for="ReportType" class="form-control custom-input-style" asp-items="ViewBag.ReportTypeId">
                            <option value="">Select Report</option>
                        </select>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row panel">
                <div class="col-md-3 ">
                    <div class="form-group custom-input-style">
                        <label class="control-label">Filter Consultant</label>
                        <select asp-for="Consultant" class="form-control custom-input-style" asp-items="ViewBag.ConsultantTypeId">
                            <option value="">Select Consultant</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3 ">
                    <div class="form-group custom-input-style">
                        <label class="control-label">Filter Department</label>
                        <select asp-for="Department" class="form-control custom-input-style" asp-items="ViewBag.DepartmentTypeId">
                            <option value="">Select Department</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3 ">
                    <div class="form-group custom-input-style">
                        <label class="control-label">Filter Project</label>
                        <select asp-for="Project" class="form-control custom-input-style" asp-items="ViewBag.ProjectTypeId">
                            <option value="">Select Project</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3 ">
                    <div class="form-group custom-input-style">
                        <label class="control-label">Filter Period</label>
                        <select asp-for="Period" class="form-control custom-input-style" asp-items="ViewBag.PeriodTypeId">
                            <option value="">Select Period</option>
                        </select>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-3">
                    <button type="submit" class="btn btn-primary custom-input-style"><i class="fa fa-download"></i></button>
                    <button type="reset" class="btn btn-default custom-input-style"><i class="fa fa-refresh"></i></button>
                </div>
            </div>
            <br />
        </form>*@
                </div>
            </section>
        </div>
    </div>
</section>

